*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Basic settings */
body{
    font-family: 'Poppins', 'arial', sans-serif;
}

.container{
    width: 1160px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

/* -------------------
GLOBAL SETTINGS
------------------- */

h1{
    font-size: 64px;
}

h3{
    font-size: 28px;
}

p{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 300;
}

/* -------------------
header-section start
------------------- */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D25A0;
    height: 677px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title h1{
    line-height: 80px;
    color: #fff;
}

.button{
    margin-top: 27px;
}
.button a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, font 0.3s, transform 0.3s;
}

.button a i{
    margin-left: 11px;
}

.button a:hover{
    transform: rotate(60deg);
    background-color: #bd1c56;
}

.photo img{
    width: 556px;
}

/* -------------------
header-section end
------------------- */

/* -------------------
Player-inf_section start
------------------- */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.player-news{
    display: flex;
    flex-direction: column;
    height: 470px;
    padding: 15px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.player-photo{
    overflow: hidden;
}

.player-photo img{
    width: 100%;
}

/* -------------------
Player-inf_section end
------------------- */

/* -------------------
HIGHLIGHTS SECTION START
------------------- */
.pass-throuh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 165px;
}
.ball_pass-photo img{
    width: 567px;
}

.section-title-two{
    padding-right: 66px;
}

/* -------------------
HIGHLIGHTS SECTION END
------------------- */

/* -------------------
FOOTER SECTION START
------------------- */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img{
    width: 450px;
}

.social-icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
}

.copyright{
    
}