*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Basic settings */
body{
    font-family: 'Poppins', 'arial', sans-serif;
}

.container{
    width: 1160px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

/* -------------------
GLOBAL SETTINGS
------------------- */

h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 28px;
}

p{
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 300;
}

/* -------------------
header-section start
------------------- */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D25A0;
    height: 677px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title h1{
    line-height: 80px;
    color: #fff;
}

.button{
    margin-top: 27px;
}
.button a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, font 0.3s, transform 0.3s;
}

.button a i{
    margin-left: 11px;
}

.button a:hover{
    transform: rotate(60deg);
    background-color: #bd1c56;
}

.photo img{
    width: 556px;
}

/* -------------------
header-section end
------------------- */

/* -------------------
Player-inf_section start
------------------- */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.player-news{
    display: flex;
    flex-direction: column;
    height: 470px;
    padding: 15px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.player-photo{
    overflow: hidden;
}

.player-photo img{
    width: 100%;
}

/* -------------------
Player-inf_section end
------------------- */

/* -------------------
HIGHLIGHTS SECTION START
------------------- */
.pass-throuh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 165px;
}
.ball_pass-photo img{
    width: 567px;
}
.section-title-two{
    padding-right: 66px;
}

/* -------------------
HIGHLIGHTS SECTION END
------------------- */

/* -------------------
CONTACT-US SECTION START
------------------- */
.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

input{
    display: block;
    width: 321px;
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #2d25a0ad;
    outline: none;
}

.submit{
    margin-top: 15px;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: tomato;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.submit:hover{
    background-color: #ff2903;
    cursor: pointer;
}


/* -------------------
CONTACT-US SECTION END
------------------- */

/* -------------------
FOOTER SECTION START
------------------- */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
    margin-bottom: 63px;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    width: 450px;
}
.social-icons{
    margin-top: 20px;
}
.social-icons a{
    text-decoration: none;
    font-size: 14px;
    margin-right: 10px;
    color: #969BAB;
    padding: 10px;
    background-color: #E7E7E8;
    border-radius: 50%;
}
.copyright{
    margin-top: 20px;
}
.copyright p{
    font-size: 18px;
}

/* -------------------
FOOTER SECTION END
------------------- */



/* -------------------
MEDIA QUERIES
------------------- */

/* MOBILE VERSION */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }

    .header-content{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
        padding-right: 15px;
    }

    h2{
        font-size: 36px;
    }

    .section-title h1{
        line-height: 50px;
    }

    .photo{
        margin-top: 50px;
    }

    .photo img, .ball_pass-photo img{
        width: 100%;
    }

    .players{
        grid-template-columns: repeat(1, 1fr);
        padding: 25px;
    }

    .pass-throuh{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
        padding-right: 15px;
    }

    h2{
        font-size: 30px;
    }

    .ball_pass-photo{
        margin-top: 29px;
    }

    .footer-logo img{
        width: 275px;
    }  
}

/* TABLET DEVICE */

@media only screen and (min-width:689px) and (max-width: 992px) {
    header{
        height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .container{
        width: 100%;
    }

    .header-content, .pass-throuh{
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
    }
    .photo, .ball_pass-photo{
        margin-top: 50px;
    }

    .photo img{
        width: 100%;
    }

    .players{
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
    }

    .footer-logo img{
        width: 275px;
    }  
}